@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 30, 58, 138;
    --secondary: 229, 231, 235;
    --accent: 13, 148, 136;
    --background: 248, 250, 252;
    /* other color variables */
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}